.head {
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  box-shadow: 0px 4px 4px 0px #00000008;
  background: #ffffff;
  border-radius: 20px 20px 0 0;
}

.body {
  background-color: #ebebeb;
  height: 150px;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.theme_wrapper {
  width: 58px;
  height: 58px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme {
  width: 49px;
  height: 49px;
  border-radius: 50px;
}

.theme_wrapper:hover {
  background: #e85382;
  transition: 0.5s;
}

#theme_wrapper_active {
  border: 1px solid #868686;
}
